/* nav part */
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    display: flex;
    gap: 12px;
}
.bag{
    position: static;
}
.school{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal
}
.middle ul{
display: flex;
justify-content: space-between;
gap: 25px;
}
.middle ul a{
    text-decoration: none;
    font-size: 16px;
}
.home{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(254, 163, 1);
}
.about{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(1, 172, 253);
}
.facilities{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(5, 212, 223);
}
.admission{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(93, 88, 239);
}

.nav-button{
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    border-radius: 10px;
    border-style: none;
    }
@media screen and (max-width:576px){
    .container{
        display: flex;
        flex-direction: column
        ;
        
        
        
    }
}
/* main part */
.main{
    width: 100%;
    height: 575px;
}
.main-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.student .Empowering{
    color: rgb(254, 163, 1);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.student .small{
    color: rgb(17, 17, 17);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.student .towards{
    color: rgb(1, 172, 253);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}.student p{
    color: black;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.Enroll{
    color: rgb(255, 255, 255);
    padding: 8px;
    background: #000;
    border-radius: 5px;
    border: none;
}

.boy{
    width: 350px;
    height: 500px;
}
@media screen and (max-width:576px) {
    .main-one{
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        
    }
}
/* standard curriculum part */
