/* nav part */
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    display: flex;
    gap: 12px;
}
.bag{
    position: static;
}
.school{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal
}
.middle ul{
display: flex;
justify-content: space-between;
gap: 25px;
}
.middle ul a{
    text-decoration: none;
    font-size: 16px;
}
.home{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(254, 163, 1);
}
.about{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(1, 172, 253);
}
.facilities{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(5, 212, 223);
}
.admission{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(93, 88, 239);
}

.nav-button{
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    border-radius: 10px;
    border-style: none;
    }
@media screen and (max-width:576px){
    .container{
        display: flex;
        flex-direction: column
        ;
        
        
        
    }
}
/* main part */
.main{
    width: 100%;
    height: 510px;
}
.main-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.student .Empowering{
    color: rgb(254, 163, 1);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.student .small{
    color: rgb(17, 17, 17);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.student .towards{
    color: rgb(1, 172, 253);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}.student p{
    color: black;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.Enroll{
    color: rgb(255, 255, 255);
    padding: 8px;
    background: #000;
    border-radius: 5px;
    border: none;
}

.boy{
    width: 350px;
    height: 500px;
}
@media screen and (max-width:576px) {
    .main-one{
        display: flex;
        flex-direction: column-reverse;
        
        
    }
}
/* standard curriculum part */
.three-box{
    background-image: url(bg.png);
    width: 100%;
    height:500px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.three-box h1{
    text-align: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0px;
}
.four-div{
    display: flex;
    flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 30px;

}
.kind{
    /* width: 320px; */
    /* height: 400px; */
    text-align: center;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 15px;

}
.kind a{
    text-decoration: none;
    color: rgb(100, 200, 255);
}
.kind .milk{
    width: 100px;
    height: 100px;
    padding: 30px 0px;
}
.element{
    /* width: 320px; */
    /* height: 400px; */
    text-align: center;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;
font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 15px;
}
.element .book{
    width: 100px;
    height: 100px;
    padding: 30px 0px;
}
.element a{
    text-decoration: none;
    color: rgb(240, 170, 0);
}
.last{
    /* width: 320px; */
    /* height: 400px; */
    text-align: center;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;
font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 15px;
}
.last .pencil{
    width: 100px;
    height: 100px;
    padding: 30px 0px;
}
.last a{
    text-decoration: none;
    color: rgb(135, 0, 255);
}
.arrow{
    margin: 45px;
    width: 60px;
    height: 60px;
}
.arrow .left-arrow{
    margin-left: -3px;
    padding: 15px;
    background-color: orange;
    border-radius: 30px;
    color: white;
}
.arrow .right-arrow{
    margin-left: 3px;
    padding: 15px;
    background-color: orange;
    border-radius: 30px;
    color: white;
}
/* @media screen and (max-width:576px) {
    .four-div{
        flex-direction:column
        ""
        ;

    }
} */
 /* our story part */
    .first-container{
        position: relative;
        width: 100%;
        height: 900px;
        background: url(bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%)
        
    }
    .first-container h2{
text-align: center;
margin-top: 100px;
    }
.article-one, .article-two, .article-three, .article-four, .article-five{
padding: 5px;
border-radius: 5px;
background-color: rgb(255, 255, 255); ;
}
.article-one{
    border-radius: 10px;
    height: 100%;
    grid-area:article-one ;
}
.article-one img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.article-one h5 {
    color: rgb(0, 0, 0);
font-size: 20px;
margin-left: 20px;
font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.article-one p{
    color: rgb(102, 102, 102);
font-size: 14px;
margin-left: 20px;
font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.article-one .November{
    position: absolute;
    top: 53.5%;
    right: 82%;
    background: rgb(60, 216, 232);
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}
.article-two{
    height: 100%;
    border-radius: 10px;
    grid-area:article-two ;
}
.article-two img{
    width: 100%;
    border-radius: 10px;
}
.article-two .November-one{
    position: absolute;
    top: 29%;
    right: 43%;
    background: rgb(149, 178, 38);
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}
.article-two h5{
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.article-three{
    height: 100%;
    border-radius: 10px;
    grid-area: article-three;
}
.article-three h5{
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.article-three img{
    width: 100%;
    border-radius: 10px;
}
.article-three .November-two{
    position: absolute;
    top: 29%;
    left: 71%;
    background: rgb(93, 88, 240);
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}
.article-four{
    height: 100%;
    border-radius: 10px;
    grid-area: article-four;
}
.article-four img{
    width: 100%;
    border-radius: 10px;
}
.article-four .November-three{
    position: absolute;
    top: 64%;
    right: 43%;
    background: rgb(149, 178, 38);
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}
.article-four h5{
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.article-five{
    height: 100%;
    border-radius: 10px;
    grid-area: article-five;
}
.article-five img{
    width: 100%;
    border-radius: 10px;
}
.article-five .November-four{
    position: absolute;
    top: 64%;
    right: 19.8%;
    background: rgb(149, 178, 38);
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}
.article-five h5{
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.last-b{
    margin-left: 600px;
    background: #000;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 5px 15px;
}
.main-container{
    margin: 70px;
    gap: 25px;
    display: grid;
    grid-template-areas: 
    "article-one   article-two   article-three"
    "article-one   article-four  article-five"
    ;
}
/* footer section */
footer{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.main-footer{
    width: 100%;
    height: 500px;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(1, 172, 253);
}
.png{
    display: flex;
    color: white;
    margin-top: -30px;
}
.kids p{
    margin: 10px;
}
.footer-about h4{
    margin-left: 36px;
    color: white;
}
.footer-about ul a{
    text-decoration: none;
    color: white;
}
.footer-about{
    margin-top: -15px;
}
.kids p{
    color: white;
}
.face{
    margin-top: -120px;
}
.face h4{
    color: white;
}